<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Express Guesbook</h1>
        <a href="/new-entry">
            write in the guestbook
        </a>
    </div>
</body>
</html>